<h2>Declaration of a new Sustainable Development Project.</h2>

<form>
    <div class="row">
        <div class="col">
            <input type="text" aria-label="Input field for the project name."
                class="form-control" placeholder="Project name" name="name" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <select name="goals" id="goals" name="goal_Id">               
                <option *ngFor="let result of results" value={{result.id}}>{{result.goalName}} </option>                
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <textarea  aria-label="Input field for the project description." rows="8"
                class="form-control" placeholder="Project description" 
                name="description"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" aria-label="Input field for the project url."
                class="form-control" placeholder="Project url"
                name="url" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <textarea aria-label="Input field for the comments concerning Heaven" rows="8" class="form-control" placeholder="Comments concerning the project"
                class="form-control" placeholder="Comments concerning the project."
                name="comments"
                ></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="submit" 
            aria-label="Button to click on to submit the new sustainable development project data"
            value="Click to submit the data" 
            (click)="onProjectDescriptionDataSubmit($event, result)">             
        </div>
    </div>
</form>

