<h2>Declaration of a new Sustainable Development Project.</h2>

<form>
    <div class="row">
        <div class="col">
            <input type="text" aria-label="Input field for the project name."
                class="form-control" placeholder="Project name" [(ngModel)]="name"  name="name"
                aria-placeholder="Project name"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
           <h3> Please select the type of sustainable goal.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <select class="custom-dropdown" [(ngModel)]="goal_Id" name="goal_Id" 
            aria-label="Drop-down list used to select a type of sustaianable development goal."
            aria-placeholder="Type of sustainable development goal" required>                
                <option *ngFor="let result of goalsResults" value={{result.id}}>{{result.goalName}} </option>                
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <textarea  aria-label="Input field for the project description." rows="8"
                class="form-control" placeholder="Project description" 
                [(ngModel)]="description" name="description"
                aria-placeholder="Project description"
                > </textarea>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" aria-label="Input field for the project url."
                class="form-control" placeholder="Project url"
                [(ngModel)]="url" name="url" aria-placeholder="Project url"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <textarea aria-label="Input field for the comments concerning the project" rows="8" class="form-control" placeholder="Comments concerning the project"
                class="form-control" placeholder="Comments concerning the project."
                [(ngModel)]="comments" name="comments" aria-placeholder="Comments concerning the project."
                ></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="submit" 
            aria-label="Button to click on to submit the new sustainable development project data"
            value="Click to submit the data" (click)="createProjectReference($event)">             
        </div>
    </div>
</form>

