<h1 align="center">Create Application</h1>

<form>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Person</span>
      </div>
      <input type="text" class="form-control" placeholder="First Name">
      <input type="text" class="form-control" placeholder="Last Name">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Address</span>
      </div>
      <input type="text" class="form-control" placeholder="Street1">
      <input type="text" class="form-control" placeholder="Street2">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">City</span>
      </div>
      <input type="text" class="form-control" placeholder="City">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">State</span>
      </div>
      <input type="text" class="form-control" placeholder="State">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Phone</span>
      </div>
      <input type="text" class="form-control" placeholder="Phone">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Email</span>
      </div>
      <input type="text" class="form-control" placeholder="Email">
    </div>
  </form>
