  <div class="logo">
    <a href="/" aria-label="link to the home page"><img alt="Revature's logo" src="./assets/images/Revature/logo.png"></a>
  </div>

  <h1 id="title"> Revature's Employees Involvement in Sustainable Development</h1>
<br>
<div  class="clearfix alert alert-success closeAlert" style="visibility:hidden;" onclick="this.style.display='none';this.style.visibility='hidden'">
  <div class="iconSpan pull-left">
    <em class="fa fa-check-circle fa-2x white" style="font-family: 'FontAwesome' !important;"></em>
    <span class="adobeBlank biggerFont"></span>
  </div>
  <div class="alertContent">
    <p id="succesfulDatabaseUpdateMessage" class="alertHeading2 biggerFont" >
      <strong>SUCCESS:</strong>Database update.
    </p>
  </div>
  <button class="fa fa-times-circle fa-2x example2 white">
    <span class="adobeBlank" aria-hidden="true" biggerFont>Close</span>
    <span class="sr-only biggerFont">Close success alert message</span>
  </button>
</div> 

<router-outlet></router-outlet>
