<nav class="navbar navbar-expand-sm bg-dark navbar-dark">   
<ul class="navbar-nav">   
<li id="my_tickets_li" class="nav-item">    
<a id="my_tickets_a" class="nav-link disabled" href="My Tickets">My Tickets</a>    
</li>    
<li id="manage_tickets_li" class="nav-item" style="display:none;">    
<a id="manage_tickets_a" class="nav-link disabled" href="Manage Tickets">Manage Tickets</a>    
</li>    
</ul>    
<ul class="navbar-nav ml-auto">    
<li id="log_out_li" class="nav-item">    
<a id="user_a" class="nav-link disabled username" href="User"></a>    
</li>    
<li id="log_out_li" class="nav-item">    
<a id="log_out_a" class="nav-link disabled" href="Log out">Log out</a>   
</li>    
</ul>  
</nav>