<div class="container">
<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Adopt A Pet</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem routerLink="search">Search</button>
          <button ngbDropdownItem routerLink="reviewApp">View Past Applications</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Rehome A Pet</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="pastApp">Post New Listing</button>
            <button ngbDropdownItem routerLink="pastListing">My listings</button>
          </div>
        </div>
      </div>
      </div>
      </div>
