<h2>List of involvements in sustainable development projects</h2>
<table id="allInvolvements" summary="List of all involvements" style="width:100%">
    <tr>
        <th>First Name</th><th>Last Name</th><th>Project</th><th>Sustainable Development Goal</th>
    </tr>
    <tr style="text-align: center;" *ngFor="let profile of allInvolvementProfiles">
        <td style="width:15%">{{profile.firstName}}</td>
        <td style="width:15%">{{profile.lastName}}</td>
        <td style="width:35%">{{profile.projectId}}</td>    
        <td>temp</td>   
    </tr>
</table>

<br><br><br>
<div id="e2eNewInvolvementTest"><strong>e2e Test</strong>{{e2eTestString}}</div>

